{% extends "baza.html" %}
{% block title %}O mnie{% endblock %}
{% block content %}
    <h1 class="display-4">{{ tytul }}</h1>
    <p class="lead">{{ tresc }}</p>
{% endblock %}
{% block kontentPostu %}
    <div id="photo1">
        <p>Nazywam się Artur Jechna, jestem studentem 2 roku Informatyki Stosowanej
            w Państwowej Wyższej Szkole Zawodowej w Elblągu. Ten blog jest pierwszą internetową aplikacją, którą napisałem.</p>

        <p>Niestety nie udało mi się przekonać rzeczy martwych do współpracy i nie mogłem wstawić żadnego zdjęcia
        aby trochę urozmaicić ten blog. Możliwe, że zbudowanie aplikacji od nowa zlikwidowałoby problem, lecz
        niestety nie starczyło czasu na tak zaawansowane poprawki.</p>


    </div>

{% endblock %}